/*hero section styles*/
.hero-section {
  position: relative;
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

/*.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); 
  display: flex;
  justify-content: center;
  align-items: center;
} */

.hero-content {
  padding: 20px;
  background: rgba(0, 0, 0, 0.3); 
  border-radius: 10px;
}

.hero-title {
  font-size: 48px;
  margin-bottom: 20px;
  animation: float-in 1s ease-out;
}

.hero-subtitle {
  font-size: 24px;
}


@keyframes float-in {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*card section styles*/

.card {
  position: relative;
  height: 40%;
  width: 40%;
  transition: transform 1500ms;
  transform-style: preserve-3d;
  border-radius: 2rem;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  backface-visibility: hidden;
  text-align: center;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

.card:hover {
  cursor: pointer;
  transform: rotateY(180deg) rotateZ(180deg);
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: -apple-system;
}
.back {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.back {
  height: 80%;
  width: 80%;
  border-radius: 2rem;
  position: fixed;
  box-shadow: 0 0 10px 2px rgba(50, 50, 50, 2.5);
  backface-visibility: hidden;
  color: aliceblue;
  background: linear-gradient(-135deg, 
  #d80af8, #0a65f8);
}

.card-description {
  font-size: 16px;
}
.back {
  transform: rotateY(180deg) rotateZ(180deg);
}



/*services styles */

.services-page {
  background-size: cover;
  background-attachment: fixed;
  padding: 50px 20px;
}

.services-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  perspective: 900px;
  border-radius: 2rem;
}
