.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: inherit;
    gap: 10px;
    padding-inline: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
  }
  
  .form-heading {
    text-align: center;
    margin: 1.3em;
    color: #c590f1;
    font-size: 1.7em;
    background-color: transparent;
    align-self: center;
    font-weight: bold;
    font-family: BlinkMacSystemFont;
    font-size: 26px;
  }
  
  .para {
    text-align: left;
    color: #c590f1;
    font-size: 0.9em;
    background-color: transparent;
    align-self: center;
  }

  .form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 10px;
    padding: 0.6em;
    border: none;
    outline: 1px solid #c590f1;
    color: white;
    background-color: #171717;
  }
  
  .input-field {
    background: none;
    border: none;
    outline:  none;
    width: 100%;
    color: #ccd6f6;
    padding-inline: 1em;
  }
  
  .sendMessage-btn {
    cursor: pointer;
    margin-bottom: 3em;
    padding: 1em;
    border-radius: 10px;
    background-color: transparent;
    color: #c590f1;
    font-weight: bold;
    outline: 1px solid #c590f1;
    transition: all ease-in-out 0.3s;
    align-self: center;
  }
  
  .sendMessage-btn:hover {
    transition: all ease-in-out 0.3s;
    background-color: #a46fcf;
    color: #000;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .form {
        width: 90%;
        padding: 2em;
    }

    .form-heading {
        font-size: 1.5em;
    }

    .para {
        font-size: 0.8em;
    }

    .sendMessage-btn {
        margin-bottom: 2em;
    }
}

@media (max-width: 480px) {
    .form-heading {
        font-size: 1.3em;
    }

    .para {
        font-size: 0.7em;
    }

    .sendMessage-btn {
        margin-bottom: 1em;
    }
}